

.page-node #content-wrap .openlayers-container img, 
.geofieldMap img {
    max-width: none;
}

#edit-field-geofield-distance-distance {
  width: 50px;
}

#edit-field-geofield-distance-origin {
  width: 150px;
}

#edit-submit-proximity-search {
  margin-top: 0;
}

#edit-field-geofield-distance-wrapper {
  float: none;
}

#edit-secondary-wrapper {
  display: block;
  float: none;
}

#edit-secondary-wrapper .form-item {
  display: inline;
}